@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --pad-xs: 0.15rem 0.25rem;
    --pad-sm: 0.25rem;
    --pad-md: 0.4rem;
    --pad-lg: 0.5rem;
    --pad-xl: 0.75rem;
    --pad-2xl: 1rem;

    --color-background: var(--background);
    --color-background-blur: var(--background-blur);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
}

@utility pad-* { padding: --value(--pad-*); }

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar { display: none; }
    .scrollbar-hidden { -ms-overflow-style: none; scrollbar-width: none; }
}

:root {
	--hub-background-image: url("../images/background.png");
}

* {
	font-family: var(--global-code-font) !important;
}

.webgpu-canvas { aspect-ratio: 16 / 9; outline: none }
.webgpu-canvas:fullscreen { width: 100%; height: 100%; }
.webgpu-canvas:-webkit-full-screen { width: 100%; height: 100%; }
.webgpu-canvas:-moz-full-screen { width: 100%; height: 100%; }
.webgpu-canvas:-ms-fullscreen { width: 100%; height: 100%; }

.code-border-success { border: 1px solid var(--success) }
.code-border-default { border: 1px solid var(--border) }
.code-border-error { border: 1px solid var(--destructive) }

.box-shadow { box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15) }
.box-border { border: 1px solid var(--global-color-tertiary) }

.notifications ol .lextoast .lextoastcontent .desc {
	transition: all 0.5s cubic-bezier(.42, .97, .52, 1.19);
}

.notifications ol.list .lextoast .lextoastcontent .desc {
	word-wrap: break-word;
	white-space: normal;
}

.lextextarea {
	height: inherit;
}

.lexcodearea {
	border-top-right-radius: 8px !important;
	overflow: hidden;
}

.codebasearea {
	transition: border 0.15s ease-out;
}

.custom-parameters-panel .lexnumber input {
	field-sizing: content;
}

.channel-title {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.shader-list-initial {
	grid-template-columns:repeat(2, 1fr);
}

.shader-item {
    grid-column-end: span 1;
    grid-row-end: span 1;
	border: 1px solid var(--border);
	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.shader-item > div {
    z-index: 1;
}

.shader-item > img {
	transition: scale 0.15s ease-out;
}

.shader-item:hover img {
    scale: 1.05;
}

.shader-item:hover > div {
    background-color: var(--accent);
}

.shader-item.featured {
    grid-column-end: span 2;
}

.record-button {
	transition: background-color 0.1s ease-in;
}

.channel-server-list {
	grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
	grid-auto-rows: minmax(175px, auto);
}

.channel-server-list li {
	aspect-ratio: 1 / 1;
}

.channel-list {
	grid-template-columns:repeat(4, 1fr);
}

.help-content {
	margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
	/* https://pqina.nl/blog/fade-out-overflow-using-css-mask-image/ */
    --scrollbar-width: 8px;
    --mask-height: 64px;
	padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(to bottom, black calc(100% - var(--mask-height)), transparent);
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}

.help-content p, .help-content li {
	color: var(--global-text-secondary);
}

.hub-background {
	background-image: var(--hub-background-image);
	background-size: cover;
}

.hub-background-blur {
	background: transparent;
	--webkit-backdrop-filter: blur(96px) grayscale(0.75);
    backdrop-filter: blur(96px) grayscale(0.75);
}

.hub-background-blur-md {
	background-color: var(--global-blur-background);
	--webkit-backdrop-filter: blur(96px) grayscale(0.75);
    backdrop-filter: blur(96px) grayscale(0.75);
}

@media (min-width: 0px) {
	.shader-list {
		grid-template-columns:repeat(1, 1fr);
	}
}

@media (min-width: 785px) {
	.shader-list {
		grid-template-columns:repeat(2, 1fr);
	}
}

@media (min-width: 1180px) {
	.shader-list {
		grid-template-columns:repeat(3, 1fr);
	}
}

@media (min-width: 1560px) {
	.shader-list {
		grid-template-columns:repeat(4, 1fr);
	}
}

@media screen and (max-width: 992px) {

	#lexroot {
		bottom: unset;
	}

	body {
		overflow-y: auto;
	}

    .content-area {
		flex-direction: column-reverse;
	}

	.content-area > * {
		width: 100% !important;
	}

	:root, :root body {
    	overflow-y: auto;
	}

	.shader-edit-content {
		display: none;
	}

	.shader-list-initial .shader-item {
		grid-column-end: span 2;
	}

	.lexdialog {
		width: 90% !important;
	}
}