@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --pad-xs: 0.15rem 0.25rem;
    --pad-sm: 0.25rem;
    --pad-md: 0.4rem;
    --pad-lg: 0.5rem;
    --pad-xl: 0.75rem;
    --pad-2xl: 1rem;

    --color-background: var(--background);
    --color-background-blur: var(--background-blur);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
}

@utility pad-* { padding: --value(--pad-*); }

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar { display: none; }
    .scrollbar-hidden { -ms-overflow-style: none; scrollbar-width: none; }
}

* {
	font-family: "Google Sans", sans-serif;
}

.webgpu-canvas { aspect-ratio: 16 / 9; outline: none }
.webgpu-canvas:fullscreen { width: 100%; height: 100%; }
.webgpu-canvas:-webkit-full-screen { width: 100%; height: 100%; }
.webgpu-canvas:-moz-full-screen { width: 100%; height: 100%; }
.webgpu-canvas:-ms-fullscreen { width: 100%; height: 100%; }

.code-border-success { border: 1px solid var(--success) }
.code-border-default { border: 1px solid var(--border) }
.code-border-error { border: 1px solid var(--destructive) }

.box-shadow { box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15) }
.box-border { border: 1px solid var(--border) }

.notifications ol .lextoast .lextoastcontent .desc {
	transition: all 0.5s cubic-bezier(.42, .97, .52, 1.19);
}

.notifications ol.list .lextoast .lextoastcontent .desc {
	word-wrap: break-word;
	white-space: normal;
}

.lextextarea {
	height: inherit;
}

.lexcodearea {
	overflow: hidden;
}

.codebasearea {
	transition: border 0.15s ease-out;
}

.custom-parameters-panel .lexnumber input {
	field-sizing: content;
}

.lexmenubutton.main {
	flex: 0 0 auto;
}

.shader-list-initial {
	grid-template-columns:repeat(2, 1fr);
}

.shader-item {
    grid-column-end: span 1;
    grid-row-end: span 1;
	border-radius: 0.75rem;
	border: 1px solid light-dark(#9492927a, #ffffff26);
	overflow: hidden;
}

.shader-item > div {
    z-index: 1;
}

.shader-item > img {
	transition: scale 0.2s ease-out;
}

.shader-item:hover img {
    scale: 1.05;
}

.shader-item:hover > div {
    background-color: var(--accent);
}

.shader-item.featured {
    grid-column-end: span 2;
}

.record-button {
	transition: background-color 0.1s ease-in;
}

.channel-server-list {
	grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
	/* grid-auto-rows: minmax(175px, auto); */
	grid-auto-rows: max-content;
}

.channel-server-list li {
	aspect-ratio: 1 / 1;
}

.channel-list {
	grid-template-columns:repeat(4, 1fr);
}

.lexdocs-content {
	margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    --scrollbar-width: 8px;
    --mask-height: 64px;
	padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(to bottom, black calc(100% - var(--mask-height)), transparent);
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}

.hub-background {
	background: #05050A;
	background: linear-gradient(0deg,rgba(5, 5, 8, 1) 0%, rgba(20, 21, 22, 1) 76%, rgba(27, 28, 30, 1) 100%);
}

:root[data-mode="light"] .hub-background {
	background: #f5f7fc;
	background: linear-gradient(0deg,rgba(237, 238, 239, 1) 0%, rgb(225, 226, 227) 76%, rgba(218, 219, 220, 1) 100%);
}

.hub-background-blur {
	background: transparent;
	--webkit-backdrop-filter: blur(96px);
    backdrop-filter: blur(96px);
}

.hub-background-blur-md {
	background-color: var(--global-blur-background);
	--webkit-backdrop-filter: blur(96px);
    backdrop-filter: blur(96px);
}

.hub-link {
	color: light-dark(var(--color-orange-600), var(--color-orange-500));
	text-decoration: none;
}

.hub-mention {
	color: light-dark(var(--color-indigo-600), var(--color-indigo-400));
}

.hub-link, .hub-mention {
	cursor: pointer;
	text-underline-offset: 4px;
	&:hover {
		text-decoration: underline;
	}
}

@media (min-width: 0px) {
	.shader-list {
		grid-template-columns:repeat(1, 1fr);
	}
}

@media (min-width: 785px) {
	.shader-list {
		grid-template-columns:repeat(2, 1fr);
	}
}

@media (min-width: 1180px) {
	.shader-list {
		grid-template-columns:repeat(3, 1fr);
	}
}

@media (min-width: 1560px) {
	.shader-list {
		grid-template-columns:repeat(4, 1fr);
	}
}

@media screen and (max-width: 992px) {

	#lexroot {
		bottom: unset;
	}

	body {
		overflow-y: auto;
	}

    .content-area {
		flex-direction: column-reverse;
	}

	.content-area > * {
		width: 100% !important;
	}

	:root, :root body {
    	overflow-y: auto;
	}

	.shader-edit-content {
		display: none;
	}

	.shader-list-initial .shader-item {
		grid-column-end: span 2;
	}

	.lexdialog {
		width: 90% !important;
	}
}